.range-slider {
  width: 240px;
  padding: 1em;
  background: rgba(#eee, 0.7);
  border-radius: 7px;
  box-shadow: 1px 1px 6px rgba(#000, 0.5);
}

.values-group {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 0.7em;
  font-family: Calibri, Arial;
}

.value {
  display: inline;
}

.track {
  position: relative;
  width: inherit;
  height: 2px;
  background: lightblue;
}

.thumb {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 1em;
  height: 1em;
  background: gold;
  border: 1px solid darken(gold, 20%);
  border-radius: 50%;
  cursor: ew-resize;
}

.text {
  display: initial;
}

.active {
  background: rgba(tomato, 0.8);
  border: 1px solid darken(tomato, 20%);
}
