$clr_thumb: gold;
$clr_thumb_dragged: tomato;
$clr_track: lighten(#0B2E59, 10%);

@mixin bg-gradient($clr1, $clr2) {
  background: repeating-linear-gradient(135deg, $clr1 0, $clr2 8%, $clr1 0, $clr2 50%);
  background-size: 8px 8px;
}

.range-slider {
  width: 240px;
  padding: 1em;
  background: rgba(#eee, 0.7);
  border-radius: 7px;
  box-shadow: 1px 1px 6px rgba(#000, 0.5);
}

.values-group {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 0.7em;
  font-family: Calibri, Arial;
}

.value {
  display: inline;
}

.track {
  position: relative;
  width: inherit;
  height: 2px;
  background: $clr_track;
}

.thumb {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 0.5em;
  height: 1.2em;
  border-radius: 50% / 20%;
  border: 1px solid darken($clr_thumb, 20%);
  cursor: ew-resize;

  @include bg-gradient($clr_thumb, darken($clr_thumb, 15%));
}

.text {
  display: initial;
}

.active {
  border: 1px solid darken($clr_thumb_dragged, 20%);

  @include bg-gradient($clr_thumb_dragged, darken($clr_thumb_dragged, 25%));
}

.hide {
  display: none;
}
