$clr_bg: #FDEECD;
$clr_border: darken($clr_bg, 30%);
$clr_text: #268bd2;

.tooltip {
  position: absolute;
  background: $clr_bg;
  border: 1px solid $clr_border;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0.3em 0.5em;
  color: $clr_text;
}

.hide {
  display: none;
}

.show {
  display: initial;
}
