$clr_water: #ddd;
$clr_land: #666;
$clr_boundaries: #fff;

.svg {
  border: 1px solid orange;
  box-sizing: border-box;
}

.globe {
  all: initial;
}

.water {
  fill: $clr_water;
}

.land {
  fill: $clr_land;
  stroke: $clr_boundaries;
  stroke-width: 0.2px;
}
