$clr_water: #ddd;
$clr_land: #666;
$clr_boundaries: #fff;
$clr_graticule: #000;
$clr_meteorite: rgba(gold, 0.5);
$clr_meteorite_hover: rgba(mix($clr_meteorite, #fff), 0.8);
$clr_svg_bg: rgba(#13181f, 0.9);
$clr_font_default: #fff;

.svg {
  position: relative;
  background: $clr_svg_bg;
  box-shadow: 0 0 20px rgba(#000, 0.85);
  border-radius: 10px;
  margin-top: 5vh;
}

.globe {
  all: initial;
}

.water {
  fill: $clr_water;
}

.land {
  fill: $clr_land;
  stroke: $clr_boundaries;
  stroke-width: 0.2px;
}

.graticule {
  stroke: $clr_graticule;
  stroke-width: 0.1;
  fill: none;
}

.meteorite {
  fill: $clr_meteorite;
  stroke: darken($clr_meteorite, 20%);

  &:hover {
    fill: $clr_meteorite_hover;
  }
}

.help-text {
  color: $clr_font_default;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 0 0 5px #000;
}

:global(#app) .slider {
  margin-top: 10px;
  background: $clr_svg_bg;
  color: $clr_font_default;
  box-shadow: 0 0 20px rgba(#000, 0.85);
}

:global {
  html, body {
    height: 100%;
  }

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url('~assets/images/nasa-53884_effects.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
    cursor: default;
  }

  #app {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}
