$clr_water: #ddd;
$clr_land: #666;
$clr_boundaries: #fff;
$clr_graticule: #000;
$clr_meteorite: rgba(gold, 0.5);
$clr_meteorite_hover: rgba(mix($clr_meteorite, #fff), 0.8);

.svg {
  position: relative;
  border: 1px solid orange;
  box-sizing: border-box;
}

.globe {
  all: initial;
}

.water {
  fill: $clr_water;
}

.land {
  fill: $clr_land;
  stroke: $clr_boundaries;
  stroke-width: 0.2px;
}

.graticule {
  stroke: $clr_graticule;
  stroke-width: 0.1;
  fill: none;
}

.meteorite {
  fill: $clr_meteorite;
  stroke: darken($clr_meteorite, 20%);

  &:hover {
    fill: $clr_meteorite_hover;
  }
}

:global {
  #app {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  body {
    margin: 0;
  }
}
